<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="test">
		<property name="show_sql">true</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test?encoding=euckr</property>
		<property name="connection.username">root</property>
		<property name="connection.password">akghdn</property>
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<mapping resource="db/Court.hbm.xml" />
	</session-factory>
</hibernate-configuration>